<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.fathens.cordova.plugin.aws.Lambda" version="0.1.0" xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AWS Lambda</name>
    <description>Cordova Plugin for AWS Lambda</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova-android" version=">=6.0.0" />
        <engine name="cordova-ios" version=">=4.3.0" />
    </engines>

    <js-module name="AWSLambdaPlugin" src="www/lambda.js">
        <clobbers target="plugin.AWS.Lambda"/>
    </js-module>

    <dependency id="org.fathens.cordova.plugin.aws.core" url="https://github.com/fathens/cordova-plugin-aws-core.git" commit="master" />

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AWSLambdaPlugin">
                <param name="android-package" value="org.fathens.cordova.plugin.aws.AwsLambda"/>
            </feature>
        </config-file>

        <source-file src="platforms/android/src/main/kotlin/AwsLambda.kt" target-dir="kotlin/org.fathens.cordova.plugin.aws"/>

        <framework src="platforms/android/plugin.gradle" custom="true" type="gradleReference"/>
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AWSLambdaPlugin">
                <param name="ios-package" value="AwsLambda"/>
            </feature>
        </config-file>

        <source-file src="platforms/ios/src/AwsLambda.swift"/>

        <podfile swift_version="3.0">
            <pod name="AWSLambda" version="~> 2.4.16" />
        </podfile>
    </platform>
</plugin>
